@import "../mixins/mixins.scss";
@import "../variables/variables.scss";

.btn{
  @include border-radius($radius);
  color: inherit;
  padding: 7px;
  margin: 3px;
  text-decoration: none;
  display: inline-block;
}
