@import "../mixins/mixins.scss";
@import "../variables/variables.scss";

.btn{
  @include border-radius($radius);
  padding: 7px;
  margin: 3px;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}
.btn-block{
  width: 100%;
}
