.btn-inverted {
  background: -webkit-linear-gradient(top, #000, black);
  background: -o-linear-gradient(top, #000, black);
  background: linear-gradient(top, #000, black);
  border: 1px solid black;
  color: #fff;
  font-weight: bold; }
  .btn-inverted:hover {
    background-color: black; }

.btn-default {
  background: -webkit-linear-gradient(top, #f2f2f2, #d9d9d9);
  background: -o-linear-gradient(top, #f2f2f2, #d9d9d9);
  background: linear-gradient(top, #f2f2f2, #d9d9d9);
  border: 1px solid #dedede;
  color: #fff;
  font-weight: bold; }
  .btn-default:hover {
    background-color: #dedede; }

.btn-danger {
  background: -webkit-linear-gradient(top, #d50f25, #a50c1d);
  background: -o-linear-gradient(top, #d50f25, #a50c1d);
  background: linear-gradient(top, #d50f25, #a50c1d);
  border: 1px solid #af0c1e;
  color: #fff;
  font-weight: bold; }
  .btn-danger:hover {
    background-color: #af0c1e; }

.btn-warning {
  background: -webkit-linear-gradient(top, #eeb211, #be8e0e);
  background: -o-linear-gradient(top, #eeb211, #be8e0e);
  background: linear-gradient(top, #eeb211, #be8e0e);
  border: 1px solid #c8960e;
  color: #fff;
  font-weight: bold; }
  .btn-warning:hover {
    background-color: #c8960e; }

.btn-alert {
  background: -webkit-linear-gradient(top, #FFD04A, #ffc317);
  background: -o-linear-gradient(top, #FFD04A, #ffc317);
  background: linear-gradient(top, #FFD04A, #ffc317);
  border: 1px solid #ffc521;
  color: #fff;
  font-weight: bold; }
  .btn-alert:hover {
    background-color: #ffc521; }

.btn-success {
  background: -webkit-linear-gradient(top, #009925, #006619);
  background: -o-linear-gradient(top, #009925, #006619);
  background: linear-gradient(top, #009925, #006619);
  border: 1px solid #00701b;
  color: #fff;
  font-weight: bold; }
  .btn-success:hover {
    background-color: #00701b; }

.btn-safe {
  background: -webkit-linear-gradient(top, #8FC550, #75aa38);
  background: -o-linear-gradient(top, #8FC550, #75aa38);
  background: linear-gradient(top, #8FC550, #75aa38);
  border: 1px solid #7bb13b;
  color: #fff;
  font-weight: bold; }
  .btn-safe:hover {
    background-color: #7bb13b; }

.btn-info {
  background: -webkit-linear-gradient(top, #0BA7ED, #0985bc);
  background: -o-linear-gradient(top, #0BA7ED, #0985bc);
  background: linear-gradient(top, #0BA7ED, #0985bc);
  border: 1px solid #098cc6;
  color: #fff;
  font-weight: bold; }
  .btn-info:hover {
    background-color: #098cc6; }

.btn-primary {
  background: -webkit-linear-gradient(top, #3369e8, #184fd0);
  background: -o-linear-gradient(top, #3369e8, #184fd0);
  background: linear-gradient(top, #3369e8, #184fd0);
  border: 1px solid #1952da;
  color: #fff;
  font-weight: bold; }
  .btn-primary:hover {
    background-color: #1952da; }

.btn-life {
  background: -webkit-linear-gradient(top, #7147BC, #5a3898);
  background: -o-linear-gradient(top, #7147BC, #5a3898);
  background: linear-gradient(top, #7147BC, #5a3898);
  border: 1px solid #5f3aa0;
  color: #fff;
  font-weight: bold; }
  .btn-life:hover {
    background-color: #5f3aa0; }

.bg-inverted {
  background-color: #1a1a1a; }

.bg-default {
  background-color: white; }

.bg-danger {
  background-color: #f0273d; }

.bg-warning {
  background-color: #f1c141; }

.bg-alert {
  background-color: #ffdd7d; }

.bg-success {
  background-color: #00cc31; }

.bg-safe {
  background-color: #a8d276; }

.bg-info {
  background-color: #35baf6; }

.bg-primary {
  background-color: #618bed; }

.bg-life {
  background-color: #8e6cca; }

/*# sourceMappingURL=mimicry-futuristic.css.map */
