.btn-inverted {
  background: -webkit-linear-gradient(top, #000, black);
  background: -o-linear-gradient(top, #000, black);
  background: linear-gradient(top, #000, black);
  border: 1px solid black;
  color: #fff;
  font-weight: bold; }
  .btn-inverted:hover {
    background-color: black; }

.btn-default {
  background: -webkit-linear-gradient(top, #f2f2f2, #d9d9d9);
  background: -o-linear-gradient(top, #f2f2f2, #d9d9d9);
  background: linear-gradient(top, #f2f2f2, #d9d9d9);
  border: 1px solid #dedede;
  color: #fff;
  font-weight: bold; }
  .btn-default:hover {
    background-color: #dedede; }

.btn-danger {
  background: -webkit-linear-gradient(top, #d50f25, #a50c1d);
  background: -o-linear-gradient(top, #d50f25, #a50c1d);
  background: linear-gradient(top, #d50f25, #a50c1d);
  border: 1px solid #af0c1e;
  color: #fff;
  font-weight: bold; }
  .btn-danger:hover {
    background-color: #af0c1e; }

.btn-warning {
  background: -webkit-linear-gradient(top, #e2611b, #b44d16);
  background: -o-linear-gradient(top, #e2611b, #b44d16);
  background: linear-gradient(top, #e2611b, #b44d16);
  border: 1px solid #be5117;
  color: #fff;
  font-weight: bold; }
  .btn-warning:hover {
    background-color: #be5117; }

.btn-alert {
  background: -webkit-linear-gradient(top, #eeb211, #be8e0e);
  background: -o-linear-gradient(top, #eeb211, #be8e0e);
  background: linear-gradient(top, #eeb211, #be8e0e);
  border: 1px solid #c8960e;
  color: #fff;
  font-weight: bold; }
  .btn-alert:hover {
    background-color: #c8960e; }

.btn-success {
  background: -webkit-linear-gradient(top, #009925, #006619);
  background: -o-linear-gradient(top, #009925, #006619);
  background: linear-gradient(top, #009925, #006619);
  border: 1px solid #00701b;
  color: #fff;
  font-weight: bold; }
  .btn-success:hover {
    background-color: #00701b; }

.btn-safe {
  background: -webkit-linear-gradient(top, #00e638, #00b32b);
  background: -o-linear-gradient(top, #00e638, #00b32b);
  background: linear-gradient(top, #00e638, #00b32b);
  border: 1px solid #00bd2e;
  color: #fff;
  font-weight: bold; }
  .btn-safe:hover {
    background-color: #00bd2e; }

.btn-info {
  background: -webkit-linear-gradient(top, #789cf0, #4a7aeb);
  background: -o-linear-gradient(top, #789cf0, #4a7aeb);
  background: linear-gradient(top, #789cf0, #4a7aeb);
  border: 1px solid #5381ec;
  color: #fff;
  font-weight: bold; }
  .btn-info:hover {
    background-color: #5381ec; }

.btn-primary {
  background: -webkit-linear-gradient(top, #3369e8, #184fd0);
  background: -o-linear-gradient(top, #3369e8, #184fd0);
  background: linear-gradient(top, #3369e8, #184fd0);
  border: 1px solid #1952da;
  color: #fff;
  font-weight: bold; }
  .btn-primary:hover {
    background-color: #1952da; }

.btn-life {
  background: -webkit-linear-gradient(top, #8537d2, #6b27af);
  background: -o-linear-gradient(top, #8537d2, #6b27af);
  background: linear-gradient(top, #8537d2, #6b27af);
  border: 1px solid #7129b7;
  color: #fff;
  font-weight: bold; }
  .btn-life:hover {
    background-color: #7129b7; }

.bg-inverted {
  background-color: #1a1a1a; }

.bg-default {
  background-color: white; }

.bg-danger {
  background-color: #f0273d; }

.bg-warning {
  background-color: #e98047; }

.bg-alert {
  background-color: #f1c141; }

.bg-success {
  background-color: #00cc31; }

.bg-safe {
  background-color: #1aff51; }

.bg-info {
  background-color: #a6bdf5; }

.bg-primary {
  background-color: #618bed; }

.bg-life {
  background-color: #9e61db; }

/*# sourceMappingURL=mimicry-futuristic.css.map */
