html{
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  font: {
    family: Helvetica, Arial;
    size: 14px;
  }
}

body {
  margin: 0;
}

.container-fluid{
  margin-right: auto;
  margin-left: auto;
}

.container{
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}


.row:after{
  clear: both;
}

@each $name, $tamanho in $screen {
 @media (min-width: $tamanho){
   @for $i from 1 through $columns {
     .col-#{$name}-#{$i} {width: percentage($i) / $columns; float: left;position: relative;  min-height: 1px;  box-sizing: border-box; padding: 5px;}
     .col-#{$name}-offset-#{$i} {margin-left: percentage($i) / $columns;}
     .col-#{$name}-offset-right-#{$i} {margin-right: percentage($i) / $columns;}
   }
 }
}
